.noteContainer {
  border-radius: 5px;
  background-color: white;

  margin: 1rem 0;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.noteContainer li {
  list-style: none;
  text-align: center;
  margin: 1rem 0;

  display: flex;
}

.noteContainer li input,
button {
  font-family: inherit;
  padding: 0.3rem;
  border: none;
  font-size: 1rem;
  user-select: none;
}

.noteContainer li input {
  background-color: #fafbfc;
  border: 2px solid #dfe1e6 !important;
  border-radius: 5px;
  height: 44px;
  width: 100%;
  padding: 10px;
  margin-right: 20px;
}

.noteContainer li button {
  cursor: pointer;
  transition: filter 1s ease;
  margin-top: 10px;
  font-size: 1.75rem;
}

.edit,
.delete,
.save {
  width: 85px;
  height: 50px;
}

.edit {
  background-color: #f3cc4d;
}

.delete {
  background-color: #ef6562;
  border-radius: 0 5px 5px 0;
}

.save {
  background-color: #61bd4f;
}

.noteContainer textarea {
  font-family: inherit;
  padding: 0.4rem;
  font-size: 1.1rem;
  border-radius: 5px 0 5px 5px;
  border: none;
  resize: none;
  background-color: #fafbfc;
  border: 2px solid #dfe1e6 !important;
  border-radius: 5px;
  width: 100%;
  margin-right: 20px;
  padding: 10px;
}

@media (hover: hover) {
  button:hover {
    filter: brightness(0.9);
  }
}
