.button {
  /* Disable browser builtin styles */
  border-radius: 0.3em;
  color: #4d4d4d;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 0.8em;
  padding: 0.6em 1.3em;
  position: relative;
  text-decoration: none;
  border: 0;
  width: 100%;
  background: #61bd4f;
  background: linear-gradient(180deg, #61bd4f 0, #5aac44);
  box-shadow: 0 2px 0 #3f6f21;
  color: #fff;

  transition: filter 0.3s ease;
}

@media (hover: hover) {
  .button:hover {
    filter: brightness(0.9);
  }
}
